* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 600px;
    padding-top: 100px;
    overflow-y: hidden;
    background-image: url("https://i.imgur.com/E2qwa4b.jpeg");
    background-position: 80% 90%;
    background-size: cover;
    background-repeat: no-repeat;
}

header h2{
    position: relative;
    width: 700px;
    letter-spacing: 2px;
    word-spacing: 8px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    font-weight: 550;
    font-size: 3.8rem;
    color: white;
    z-index: 1;
}

/* header a{
    margin: 100px auto 0;
    width: 230px;
    height: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 50px;
    border-radius: 10px;
    color: #EEEEEE;
    background-color: rgb(54, 162, 181);
    z-index: 1;
    text-decoration: none;
} */

.arrow_container{
    display: flex;
    justify-content: center;
    height: 60px;
    width: fit-content;

}

.arrow {
    opacity: 0;
    position: absolute;
        left: 40%;
        top: 60%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}



header a{
    margin: 12px auto 0;
    width: fit-content;
    height: fit-content;
    /* text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 50px; */
    /* border-radius: 20px; */
    color: #EEEEEE;
    background-color: transparent;
    z-index: 1;
    /* text-decoration: none; */
}

.container_{
    margin: 40px auto 0;
    position: relative;
    color: white;
}

.container_ p{
    font-size: 18px;
    font-weight: bold;
}

header a:hover{
    transform: scale(1.2);
    text-decoration: none;
}

.opacity_window {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.logo_container {
    position: absolute;
    width: 200px;
    height: 165px;
    left: 0;
    top: 0;
}

.logo_container img{
    width: 100%;
}


.services_section{
    width: 100%;
    padding: 50px 0;
}


.services_section h2{
    text-align: center;
    font-weight: 500;
    margin: 0px 0px 70px;
    color: #212121;
}

.services_containers{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
}


.services_containers div{
    width: 320px;
}

.services_containers a{
    text-decoration: none;
}

.services_containers .img_container{
    padding-top: 90px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 250px;
}

.services_containers .img_container:hover{
    opacity: 0.8;
}

.img_container h3{
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.1rem;
}

.services_containers ul{
    margin: 30px 0 0;
    color: #212121;
    padding: 0 25px;
}
.services_containers li{
    margin: 5px 0;
}

.img_container{
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #EEEEEE;
    -webkit-box-shadow: -1px 2px 15px 1px #000000; 
    box-shadow: -1px 2px 15px 1px #000000;
}

.img_container h3{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    width: 200px;
    letter-spacing: 1px;
}

.img_2{
    /* background-image: url('https://i.imgur.com/TBD7dA2.png'); */
    background-image: url('https://i.imgur.com/aV9gzjn.png');
}

.img_1{
    background-image: url('https://i.imgur.com/TBD7dA2.png');
}

.img_3{
    background-image: url('https://i.imgur.com/2JhuhcD.png');
}

footer{
    background-color: #1f1f1f;
    height: 350px;
    padding: 70px 80px;
}

.contactContainer{
    display: flex;
    flex-flow: column;
    gap: 20px;
    
}

.contactContainer p{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.contactContainer a{
    color: #3CA0D3;
    font-size: 1.1rem;
    text-decoration: none;
    letter-spacing: 1px;
    padding-bottom: 6px;
    border-bottom: 1px solid #EEEEEE;
    width: fit-content;
}


@media screen and (max-width: 700px){

    header{
        width: 100vw;
        overflow-x: hidden;
    }

    header h2{
        position: relative;
        width: fit-content;
        letter-spacing: 2px;
        word-spacing: 8px;
        line-height: 70px;
        margin: 0 auto;
        text-align: center;
        font-weight: 550;
        font-size: 3.2rem;
        color: white;
        z-index: 1;
    }

    .services_section h2{
        padding: 0 20px;
    }
}


@media screen and (max-width: 480px){

    .txt_header{
        font-size: 46px;
        margin-top: 25px;        
    }

}

